* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

body {
  --primary-color: rgba(238, 241, 255, 1);
  --font-color: rgb(0, 0, 0);
  --shadow-color-opacity: rgba(0, 0, 0, 0.8);
  --menu-color: rgba(112, 112, 112, 0.8);
  --secondary-color: #9818d6;
  --accent-color: #ff4321;

  --big-font: 2.2rem;
  --h2-font: 2rem;
  --h4-font: 1.6rem;
  --p-font: 1.2rem;
  transition: 0.5s ease;
}
.dark-theme {
  --primary-color: #000000;
  --font-color: rgb(255, 255, 255);
  --shadow-color-opacity: rgba(255, 255, 255, 0.8);
  --menu-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary-color);
}
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #9818d6, #9818d6);
  border-radius: 5rem;
}
span {
  color: var(--secondary-color);
}
/* ----------Menu Bar---------- */
.menubar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.menubar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #9718d63d);
  transition: 0.3s ease-out;
}
.menubar:hover::before {
  left: 100%;
}
.logo {
  color: var(--secondary-color);
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 0 1px 1px var(--shadow-color-opacity);
  cursor: pointer;
}
.navbar a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--secondary-color);
  text-shadow: 0 1px 1px var(--shadow-color-opacity);
}
.navbar #icon-moon {
  font-size: 1.2rem;
  padding-left: 1.2rem;
  color: #ffffff;
  text-shadow: 0 1px 1px var(--shadow-color-opacity);
  cursor: pointer;
}
.navbar #icon-moon:hover {
  color: var(--secondary-color);
  transition: 0.4s;
}
#menu-icon {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  display: none;
}
@media (max-width: 954px) {
  .menubar {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 100%;
    right: -16rem;
    width: 16rem;
    font-size: 1rem;
    padding: 0.8rem 2%;
    border-radius: 0 0 0 0.3rem;
    background: var(--menu-color);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    padding-bottom: 2rem;
    text-align: center;
    transition: 0.6s ease-in-out;
  }
  .navbar.active {
    display: block;
    right: 0;
  }
  .navbar a {
    display: block;
    margin: 0.8rem 0;
  }
}
/* --------------- Hero Section --------------- */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}
.intro-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}
.cols {
  position: relative;
  justify-content: center;
  width: 50%;
  /* padding: 1px auto; */
}
.cols1 {
  padding-left: 1rem;
  margin-left: 1rem;
}
.cols2 {
  border-left: 3px solid var(--secondary-color);
  padding-left: 1rem;
  margin-left: 1rem;
}
.topline-h4 {
  position: relative;
  color: var(--font-color);
  font-size: var(--h4-font);
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}
.topline-h1 {
  position: relative;
  color: var(--font-color);
  font-size: var(--big-font);
  padding: 0.5rem;
}
.cols > p {
  display: block;
  width: 90%;
  font-size: var(--p-font);
  padding: 0.5rem;
  color: var(--font-color);
}
.name-input {
  text-shadow: 0 1px 1px var(--shadow-color-opacity);
}
.intro-buttons {
  position: relative;
  width: 100%;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 32px;
  margin: 0.5rem;
  margin-top: 1rem;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 0.2rem;
  border: 1px solid #6b6b6b;
  transition: all 0.2s ease;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  color: #0e0e0e;
  text-shadow: 0 1px #fff;
}
button:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 4px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}
button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 4px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 250px;
  max-height: 300px;
  transition: all 0.2s;
  cursor: pointer;
}
/* .card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
} */
.card-inner img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  transform: rotatey(180deg);
}
.circle {
  width: 100px;
  height: 100px;
  background: var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 1px 1px var(--shadow-color-opacity);
  position: absolute;
  animation: move-up1 2s ease-in infinite alternate-reverse;
}
.circle:nth-child(1) {
  top: -25px;
  left: -15px;
}
.circle:nth-child(2) {
  bottom: -60px;
  right: 1px;
  z-index: 1;
  animation-name: move-down1;
}
@keyframes move-up1 {
  to {
    transform: translateY(-20px);
  }
}
@keyframes move-down1 {
  to {
    transform: translateX(30px);
  }
}
@media (max-width: 954px) {
  .intro-wrapper {
    display: block;
  }
  .cols {
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    padding-left: 0;
    margin-left: 0;
  }
  .cols1 {
    max-width: 30rem;
  }
}
