* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

body {
  --primary-color: rgb(196, 207, 250);
  --font-color: rgb(0, 0, 0);
  --shadow-color-opacity: rgba(0, 0, 0, 0.5);
  --secondary-color: #6025eb;
  --accent-color: #ff4321;
  --menubar-hight: 4.5rem;
  --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

  --h1-font: 2.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2.2rem;
  --h4-font: 1.8rem;
  --h5-font: 1.6rem;
  --h6-font: 1.4rem;
  --p-font: 1.2rem;
  transition: 0.5s ease;
}
@media (max-width: 450px) {
  body {
    --h1-font: 1.9rem;
    --h2-font: 1.7rem;
    --h3-font: 1.5rem;
    --h4-font: 1.3rem;
    --h5-font: 1.2rem;
    --h6-font: 1.1rem;
    --p-font: 1rem;
  }
}
@media (max-width: 768px) {
  body {
    --menubar-hight: 4rem;
  }
}
.dark-theme {
  --primary-color: #000000;
  --font-color: rgb(255, 255, 255);
  --shadow-color-opacity: rgba(255, 255, 255, 0.5);
  --box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
  transition: 0.5s ease;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    65deg,
    var(--secondary-color) 33%,
    var(--accent-color) 34%,
    var(--accent-color) 38%,
    var(--secondary-color) 39%,
    var(--primary-color) 90%
  );
  border-radius: 12rem;
  border-bottom: 3px solid var(--accent-color);
}
section {
  max-width: 1224px;
}
span {
  color: var(--secondary-color);
  text-shadow: 0 1px 1px var(--shadow-color-opacity);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 180px;
  height: 32px;
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 0.2rem;
  border: 1px solid var(--secondary-color);
  transition: all 0.2s ease;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  color: #0e0e0e;
  text-shadow: 0 1px #fff;
  box-shadow: var(--box-shadow);
}
.button:hover {
  color: var(--accent-color);
  box-shadow: 0 1px 1px 1px #fcfcfc, 0 1px 1px #d6d7d9, 0 -2px 4px #cecfd1,
    0 -2px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}
.button:active {
  color: var(--accent-color);
  box-shadow: 0 0 6px #fcfcfc, 0 5px 3px #d6d7d9, 0 -3px 4px #cecfd1,
    0 -3px 4px #fefefe, inset 0 0 5px 3px #999;
}

/* ----------Menu Bar---------- */

.hero {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: var(--menubar-hight);
  background: var(--secondary-color);
  z-index: 999;
}
.menubar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: min(100%, 1224px);
  height: var(--menubar-hight);
  padding: 0 2rem;
  z-index: 1000;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5rem;
  width: 5rem;
  height: var(--menubar-hight);
  background: linear-gradient(
    65deg,
    var(--secondary-color) 45%,
    var(--accent-color) 46%,
    var(--accent-color) 65%,
    var(--secondary-color) 66%
  );
  /* background: linear-gradient(-1deg, transparent, var(--accent-color)); */
  transition: 0.3s ease-in-out;
}
.hero:hover::before {
  left: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo > img {
  box-shadow: var(--box-shadow);
  border-radius: 0.9rem;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--accent-color);
  text-shadow: 0 1px 1px var(--shadow-color-opacity);
}
.navbar .mood-button {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 1rem;
  cursor: pointer;
}
.navbar .mood-button:hover {
  color: var(--accent-color);
  text-shadow: 0 3px 3px 3px var(--shadow-color-opacity);
  transition: 0.4s;
}
#menu-icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 32px;
  color: var(--font-color);
  cursor: pointer;
  display: none;
}
#menu-close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #fff;
  font-size: 2rem;
  display: none;
}
@media (max-width: 954px) {
  .hero {
    background-color: transparent;
  }
  .hero::before {
    display: none;
  }
  .logo {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  #menu-close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    left: -15rem;
    top: 0;
    width: 15rem;
    font-size: 1rem;
    border-radius: 0 0 0.3rem 0;
    background: linear-gradient(
      65deg,
      var(--secondary-color) 35%,
      var(--accent-color) 36%,
      var(--secondary-color) 37%
    );
    border-bottom: 2px solid var(--secondary-color);
    padding: 2rem 0;
    text-align: center;
    transition: 0.6s ease-in-out;
  }
  .navbar.active {
    display: block;
    left: 0;
  }
  .navbar a {
    display: block;
    margin: 1rem 0;
  }
  .navbar a:hover {
    color: var(--accent-color);
  }
  .navbar #icon-moon:hover {
    color: var(--accent-color);
  }
}
/* --------------- Hero Section --------------- */
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 7rem;
}
.intro-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}
.cols {
  position: relative;
  justify-content: center;
  width: 50%;
}
.cols2 {
  border-left: 3px solid var(--secondary-color);
  padding-left: 1rem;
}
.topline-h4 {
  position: relative;
  color: var(--font-color);
  font-size: var(--h4-font);
  padding: 0.5rem;
}
.topline-h1 {
  position: relative;
  color: var(--font-color);
  font-size: var(--h2-font);
  padding: 0.5rem;
}
.topline-h2 {
  position: relative;
  color: var(--font-color);
  font-size: var(--h4-font);
  padding: 0.5rem;
}
.cols > p {
  display: block;
  width: 90%;
  font-size: var(--p-font);
  padding: 0.5rem;
  color: var(--font-color);
}
.intro-buttons {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}
.intro-buttons i {
  margin: 0 0.3rem;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
  max-height: 330px;
}
.card-inner img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 15px var(--shadow-color-opacity));
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 1px var(--shadow-color-opacity);
  background: linear-gradient(
    65deg,
    var(--secondary-color) 35%,
    var(--accent-color) 36%,
    var(--secondary-color) 37%
  );
}
.circle-cols2 {
  top: 1px;
  right: 5px;
  z-index: -1;
  animation: move-left1 3s ease-in-out infinite alternate-reverse;
}
.circle-cols1-1 {
  top: -25px;
  right: -5px;
  z-index: -1;
  animation: move-up1 2.5s ease-in-out infinite alternate-reverse;
}
.circle-cols1-2 {
  bottom: -60px;
  left: -15px;
  z-index: 1;
  animation: move-left1 2s ease-in-out infinite alternate-reverse;
}
@keyframes move-up1 {
  to {
    transform: translateY(-20px);
  }
}
@keyframes move-left1 {
  to {
    transform: translateX(30px);
  }
}
@media (max-width: 954px) {
  .intro-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cols {
    width: 90%;
  }
  .cols1 {
    max-width: 35rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 350px) {
  .circle {
    width: 90px;
    height: 90px;
  }
}
/* ----------About section---------- */
.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}
.about-me-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-bl-title {
  font-size: var(--h2-font);
  color: var(--font-color);
  padding: 3rem 1rem;
}
.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.about-me-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 2rem 1rem;
  justify-content: center;
}
.about-me-title {
  padding-bottom: 1rem;
  font-size: var(--h4-font);
  color: var(--font-color);
}
.about-me-p {
  font-size: var(--p-font);
  color: var(--font-color);
}
.about-main-image {
  max-height: 450px;
  max-width: 450px;
  filter: drop-shadow(0px 0px 15px var(--shadow-color-opacity));
}
.about-main-image img {
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  transform: rotateY(180deg);
}
@media (max-width: 954px) {
  .about-main {
    display: flex;
    flex-direction: column;
  }
  .about-me-2 {
    max-width: 90%;
  }
}

/* ----------about-edu-wrk-exp---------- */
.about-edu-wrk-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.abt-edu-title {
  font-size: var(--h4-font);
  color: var(--font-color);
  padding: 1.5rem 1rem;
}
.about-education {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-myCard {
  background-color: transparent;
  width: 200px;
  height: 270px;
  margin: 1.5rem;
  perspective: 1500px;
}

.about-title {
  font-size: 1.3em;
  font-weight: 900;
  text-align: center;
}

.about-innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.about-myCard:hover .about-innerCard {
  transform: rotateY(-180deg);
}

.about-frontSide,
.about-backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem;
  color: white;
  box-shadow: 0 0 0.3em var(--shadow-color-opacity);
  font-weight: 700;
}
.about-img img {
  width: 150px;
  filter: drop-shadow(0px 0px 15px var(--shadow-color-opacity));
}

.about-frontSide,
.about-frontSide::before {
  background: linear-gradient(
    65deg,
    var(--secondary-color) 35%,
    var(--accent-color) 36%,
    var(--secondary-color) 37%
  );
}

.about-backSide,
.about-backSide::before {
  background: linear-gradient(
    135deg,
    var(--secondary-color) 87%,
    var(--accent-color) 88%,
    var(--secondary-color) 89%
  );
}

.about-backSide {
  transform: rotateY(180deg);
  padding: 9px;
}

.about-frontSide::before,
.about-backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 105%;
  height: 105%;
  position: absolute;
  z-index: -1;
  border-radius: 0.2rem;
  filter: blur(15px);
  animation: animate 5s linear infinite;
}

/* ----------Fun Facts---------- */
.fun-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.fun-myCard {
  background-color: transparent;
  width: 160px;
  height: 230px;
  margin: 2rem 1rem;
  perspective: 1000px;
}

.fun-title {
  font-size: var(--h4-font);
  color: var(--font-color);
  text-align: center;
}

.fun-innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.fun-frontSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem;
  color: white;
  font-weight: 700;
}
.fun-img img {
  width: 120px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 15px var(--shadow-color-opacity));
}
.fun-frontSide,
.fun-frontSide::before {
  background: linear-gradient(
    65deg,
    var(--secondary-color) 35%,
    var(--accent-color) 36%,
    var(--secondary-color) 37%
  );
}
.fun-frontSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 105%;
  height: 105%;
  position: absolute;
  z-index: -1;
  border-radius: 0.2rem;
  filter: blur(15px);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0.5;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
/* ----------skill-section---------- */
.skill-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.skills-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 20rem;
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
  border: 3px solid var(--secondary-color);
}
.skills-title {
  font-size: var(--h2-font);
  color: var(--font-color);
  padding: 3rem;
}
.skill-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.skill-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100px;
  border-radius: 0.2rem;
  margin: 1rem;
  background-color: #9e9e9e;
  box-shadow: var(--box-shadow);
  z-index: 5;
  overflow: hidden;
}
.skill-in-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 3px;
  left: 3px;
  width: 74px;
  height: 94px;
  z-index: 2;
  background: #fff;
  backdrop-filter: blur(24px);
  border-radius: 0.2rem;
  overflow: hidden;
  outline: 1px solid var(--secondary-color);
}
.skill-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill-img img {
  width: 50px;
  height: 50px;
}
.skill-p {
  font-size: 0.8rem;
  color: #000000;
}
.skill-anm-bl {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/* ----------Portfolio-Section---------- */

/* ----------Contact Section---------- */
.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}
.contact-title {
  font-size: var(--h2-font);
  color: var(--font-color);
  padding: 2rem 1rem;
}
.contact-card {
  display: flex;
}
.contact-col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.contact-a {
  justify-content: space-between;
  min-width: 170px;
}
.contact-a > i {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
.contact-mail {
  justify-content: space-between;
  width: 270px;
}
.contact-mail > i {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
@media (max-width: 954px) {
  .contact-card {
    flex-direction: column;
    justify-content: center;
  }
}
/* ----------Footer-section---------- */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  height: var(--menubar-hight);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: var(--menubar-hight);
  padding: 0 2rem;
  color: #fff;
}
.footer-wrapper > p {
  padding: 0.1rem;
}
.footer-wrapper i {
  font-size: 1.2rem;
  color: var(--accent-color);
}
@media (max-width: 454px) {
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
