.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.6;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 22px;
  border-radius: 10px;
  transform: scale(1.1);
  background: #ffffff;
  opacity: 0.8;
}
.protfolio-title-div {
  display: flex;
  justify-content: center;
}
.portfolio-title {
  font-size: var(--h2-font);
  color: var(--font-color);
  padding: 5rem 1rem 1rem;
  justify-content: center;
}

.horizontal-card-big-head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.horizontal-card-big {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1196px;
  border-radius: 0.2rem;
  --swiper-navigation-color: #fff;
  box-shadow: var(--box-shadow);
}

.horizontal-card-big-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-card-big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 30.5rem;
  overflow: hidden;
  background: linear-gradient(
    65deg,
    var(--secondary-color) 35%,
    var(--accent-color) 35.5%,
    var(--secondary-color) 36%
  );
  border-radius: 0.2rem;
  border: 1px solid #ffffff;
  box-shadow: var(--box-shadow);
}
.card-big-one {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #fff;
}
.card-big-one > h3 {
  font-size: var(--h3-font);
  color: #fff;
  padding: 1rem 0.5rem 0 0.5rem;
}
.card-big-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 3rem;
}
.card-big-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.card-big-left-p > p {
  font-size: var(--p-font);
  color: #ffffff;
  padding: 0 0.5rem;
}
.tool-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 2rem 0.5rem;
}
.tool-list > li {
  box-shadow: 0 0 1px 2px #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  font-size: 0.9rem;
  margin: 4px;
  padding: 3px 6px;
}
.port-btns {
  display: flex;
  max-width: 95%;
}
.port-btns i {
  font-weight: 700;
  padding: 0 0.4rem;
}
.card-big-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.card-big-right > img {
  max-width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem;
}

@media (max-width: 768px) {
  .card-big-two {
    display: flex;
    flex-direction: column-reverse;
    max-width: 90%;
  }
  .card-big-right,
  .card-big-left {
    width: 100%;
    min-height: 20rem;
  }
  .card-big-right {
    margin-bottom: 1rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
